<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h3>Ch3.Node.js 미들웨어</h3>    
    <h4>express.static</h4>
    <img src="/images/compass.webp" alt="">

    <h4>get, post</h4>
    <a href="/sub1/get1?uid=a101">get1 요청</a>
    <a href="/sub1/get2?name=홍길동&age=21">get2 요청</a>
    <a href="/sub1/post1">post1 요청</a>
    <a href="/sub1/post2">post2 요청</a>

    <h4>cookie, session</h4>
    <a href="/sub2/cookie">Cookie 실습</a>
    <a href="/sub2/session">Session 실습</a>

  </body>
</html>
