<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>get2</title>
</head>
<body>
    <h3>Get2 실습</h3>
    <p>
        name : <%= name %> <br>
        age : <%= age %>
    </p>
</body>
</html>