<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post2Result</title>
</head>
<body>
    <p>
        아이디 : <%= uid %> <br>
        이름 : <%= name %> <br>
        휴대폰 : <%= hp %> <br>
        나이 : <%= age %>
    </p>
    <a href="/">메인</a>
</body>
</html>