<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post1Result</title>
</head>
<body>
    <p>
        아이디 : <%= data.uid %> <br>
        비밀번호 : <%= data.pass %>
    </p>
</body>
</html>