<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post1</title>
</head>
<body>
    <h3>Post1 실습</h3>
    <form action="/sub1/post1Result" method="post">
        <p>
            아이디 : <input type="text" name="uid" id=""><br>
            비밀번호 : <input type="password" name="pass" id=""><br>
        </p>
        <input type="submit" value="전송">
    </form>
</body>
</html>