<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cookieResult</title>
</head>
<body>
    <h3>cookieResult</h3>
    <p>
        uid : <%= user.uid %>
        name : <%= user.name %>
        hp : <%= user.hp %>
        age : <%= user.age %>
    </p>

    <a href="/sub2/cookieClear">cookie 삭제</a>
    <a href="/">메인</a>
</body>
</html>