<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sessionResult</title>
</head>
<body>
    <h3>sessionResult</h3>
    <p>
        uid : <%= uid %>
        name : <%= name %>
        hp : <%= hp %>
        age : <%= age %>
    </p>

    <a href="/sub2/sessionClear">session 삭제</a>
    <a href="/">메인</a>
</body>
</html>